* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}
#body {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.right-container {
    width: 70%;
    order: 2;
    background-color: #f3f3f3;
}
header {
    text-align: center;
    display: block;
}

h1 {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-top: 30px;
}

main h2 {
    margin: 20px 0 20px 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #565656;
    letter-spacing: -1px;
}

p, a, ul li {
    font-size: 17px;
    margin-left: 35px;
}

.examples-projects a {
    text-decoration: none;
}

ul {
    margin-bottom: 15px;
}

ul li {
    list-style-type: none;
    font-size: 18px;
}

aside {
    width: 30%;
    order: 1;
    background-color: #565656;
    color: #ffffff;
}

aside div p {
    margin-left: 25px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 ,1);
}

aside h2 {
    margin-left: 25px;
    font-size: 35px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0 ,1);
}

#logo {
    display: block;
    border: 5px solid #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0 ,1);
    height: 200px;
    margin: 45px auto;
    width: 200px;
}

.aside-contacts li {
    margin-left: 25px;
    margin-bottom: 3px;
}

footer {
    width: 100%;
    height: 43px;
    order: 3;
    background-color: #eabe6391;
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    align-items: center;
    width: 28%;
    justify-content: space-evenly;
}

.rs_school {
    display: block;
    width: 50px;
    height: 30px;
    text-decoration: none;
}

.rs_school img {
    width: inherit;
    height: inherit;
}

.github {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}